HELP.md




### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

##编译出来的文件
/EasyTier-Monitor
/EasyTier-Monitor.exe


### VS Code ###
.vscode/

### 前端 ###
web/node_modules
web/dist
web/tsconfig.tsbuildinfo

### 官方插件参考（仅本地，不入库） ###
luci-app-easytier/

